
@{
    ViewBag.Title = "Üst Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Blogum.Models;
@model IEnumerable<UstKategori>
<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Üst Kategoriler</h3>
                <a href="/Admin/UstKategoriEkle" class="btn btn-success btn-rounded btn-sm pull-right"><span class="fa fa-plus"> Yeni Ekle</span></a>
            </div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions">
                        <thead>
                            <tr>
                                <th width="50">Id</th>
                                <th>Kategori Adı</th>
                                <th width="100">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UstKategori item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Id</td>
                                    <td><strong>@item.UstKategoriAdi</strong></td>
                                    <td width="15%">
                                        <a href="/Admin/UstKategoriDuzenle/@item.Id" class="btn btn-warning btn-rounded btn-sm duzenle"><span class="fa fa-pencil"> Düzenle</span></a>
                                        <a class="btn btn-danger btn-rounded btn-sm" id="ustkategorisil" data-sid="@item.Id"><span class="fa fa-times"> Sil</span></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RESPONSIVE TABLES -->