
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Atlant - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="/Content/AdminTheme/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <div class="login-body">
                <div class="login-title"><strong>Kayıt Ol</strong></div>
                <form action="/Kullanici/KayitOl" class="form-horizontal" method="post" enctype="multipart/form-data" id="kayitolform">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="KullaniciAdi" id="KullaniciAdi" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" placeholder="Şifre" name="Sifre" id="Sifre" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="form-control" placeholder="Şifre Tekrar" name="SifreTekrar" id="SifreTekrar" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Email" name="Email" id="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Gizli Soru" name="GizliSoru" id="GizliSoru" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Gizli Cevap" name="GizliCevap" id="GizliCevap" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="file" class="fileinput btn-primary" name="ProfilResim" id="ProfilResim" title="Dosya Aç" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="/Kullanici/SifremiUnuttum" class="btn btn-link btn-block">Şifremi Unuttum</a>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-info btn-block" value="Kayıt Ol" />
                        </div>
                    </div>
                    <div class="login-subtitle">
                        <p>@ViewBag.Mesaj</p>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; @DateTime.Now.Year Hüseyin Cengiz Blog
                </div>
                <div class="pull-right">
                    <a href="/Kullanici/GirisYap">Giriş Yap</a> |
                    <a href="/Home/Iletisim">Iletisim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminTheme/js/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/Content/Global.js"></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src='/Content/AdminTheme/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <!-- END THIS PAGE PLUGINS -->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="/Content/AdminTheme/js/settings.js"></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/plugins.js"></script>
    <script type="text/javascript" src="/Content/AdminTheme/js/actions.js"></script>
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->

</body>
</html>


