
<div class="slider">
    <ul>
        <li>
            <img src="/Layout/KandQ/images/slider/1.jpg" class="img-responsive" alt="" />
            <div class="text hidden-xs row">
                <h1 class="col-md-offset-4 col-sm-offset-2"><span>be.</span> free</h1>
                <h2 class="col-md-offset-5 col-sm-offset-3">at <span>your.</span> style</h2>
            </div>
        </li>
        <li>
            <img src="/Layout/KandQ/images/slider/2.jpg" class="img-responsive" alt="" />
        </li>
    </ul>
    <a href="/Layout/KandQ/#" class="unslider-arrow prev arrow-ph arrow-prev" title="Previous slide"><i class="icon icon-angle-left"></i></a>
    <a href="/Layout/KandQ/#" class="unslider-arrow next arrow-ph arrow-next" title="Next slide"><i class="icon icon-angle-right"></i></a>
</div><!--. slider -->