
@{
    ViewBag.Title = "Üst Kategori Düzenle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using KandQTicaret.Models
@model UstKategori

@section heads{
    <style>
        label.error {
            color: red;
        }
    </style>
}
<!-- Horizontal form -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <header class="panel-heading">Düzenle</header>
            <div class="panel-body">
                @using (Html.BeginForm("UstKategoriDuzenle", "Admin", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "ustkategoriform" }))
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Adı</label>
                        <div class="col-sm-10">
                            <input type="text" name="Adi" class="form-control" value="@Model.Adi">
                        </div>
                    </div>
                    <input type="hidden" name="Id" value="@Model.Id"/>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button type="submit" class="btn btn-default">Düzenle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="/Scripts/jquery-validation/jquery.validate.js"></script>
    <script src="/Scripts/CommonScript.js"></script>
}
<!-- /Horizontal form -->

