<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/ico/favicon.ico">

	<title>Madrid Theme - category</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
	<link href="css/main.css" rel="stylesheet" type="text/css" />
	<link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
	<link href="css/category.css" rel="stylesheet" type="text/css" />
	<link href="css/modules/ph_megamenu.css" rel="stylesheet" type="text/css" />
	<link href="css/modules/ph_simpleblog.css" rel="stylesheet" type="text/css" />

	<script src="js/libraries/modernizr.js"></script>

<body itemtype="http://schema.org/WebPage" itemscope="">
	<div class="topbar">
		<div class="container">
				<div id="ph_currencies_block_top" class="pull-left select-options">
					<form action="#" method="post">
						<p>
							Currency:
							<span>USD</span>
							<i class="icon icon-chevron-down"></i>
						</p>
						<ul>
							<li class="selected"><a href="#" title="Dollar" rel="nofollow">Dollar</a></li>
							<li><a href="#" title="Euro" rel="nofollow">Euro</a></li>
							<li><a href="#" title="British" rel="nofollow">British pound</a></li>
							<li><a href="#" title="Złoty" rel="nofollow">Polish zloty</a></li>
						</ul>
					</form>
				</div><!-- #ph_currencies_block_top -->

				<div id="ph_languages_block_top" class="pull-left select-options">
					<p class="selected_language">
						Language:
						<span>English</span>
						<i class="icon icon-chevron-down"></i>
					</p>
					<ul>
						<li class="selected"><a href="#" title="English">English</a></li>
						<li><a href="#" title="German">German</a></li>
						<li><a href="#" title="French">French</a></li>
						<li><a href="#" title="Spanish">Spanish</a></li>
					</ul>
				</div><!-- ph_languages_block_top -->

				<div class="col-lg-8 col-md-7 hidden-xs shortlinks pull-right">
					<ul class="nolist row pull-right">
						<li><a href="#">Home</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Check out</a></li>
						<li><a href="#">Sign in</a></li>
					</ul>
				</div><!-- .shortlinks -->
		</div><!-- .container -->
	</div><!-- .topbar -->

	<header class="top">
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="row">
					<a href="#" class="logo" title="back to the homepage"><img src="images/logo.png" alt="Madrid" class="img-responsive" /></a>
				</div>
			</div>
			<div id="search_block_top" class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-md-3 col-sm-4 col-xs-12">
				<form method="get" action="#" id="searchbox" class="row">
					<p>
						<input class="search_query" type="text" id="search_query_top" name="search_query" placeholder="Type to search..." value="" />
						<span>
							<i class="icon icon-search"></i>
							<input class="main-color" type="submit" value="ok" />
						</span>
					</p>
				</form>
			</div><!-- .search_block_top -->

			<div class="col-sm-4 col-xs-12 shopping-cart-mobile visible-sm visible-xs">
				<div class="row">
					<a class="cart-contents" rel="nofollow" title="see basket" href="#">
						<span class="pull-left">
							Shopping cart:
							<span class="ajax_cart_quantity">1</span>
							<span class="ajax_cart_product_txt">products</span>
						</span>
					</a>
				</div>
			</div><!-- .shopping-cart-mobile -->

			<div class="col-lg-3 col-md-4 hidden-sm hidden-xs shopping_cart pull-right">
				<div class="row">
					<p>Welcome visitor! You can <a href="form.html" title="register account">sign in</a>.</p>
					<a id="showCart" class="cart-contents" rel="nofollow" title="see basket" href="#">
						<span class="pull-left">
							Shopping cart:
							<span class="ajax_cart_quantity">1</span>
							<span class="ajax_cart_product_txt">products</span>
							<i class="icon icon-chevron-down pull-right"></i>
						</span>
						<i class="pull-left icon icon-shopping-cart main-color"></i>
					</a>
				</div>

				<div class="cart_block block exclusive">
					<div class="block_content">
						<div class="cart_block_list">
							<dl class="products">
								<dt class="first_item last_item">
									<a title="Example product" href="#" class="cart-images">
										<img alt="Example product" src="images/products/small.jpg" />
									</a>
									<div class="cart-info">
										<div class="product-name">
											<span class="quantity-formated">
												<span class="quantity">1</span>x&nbsp;
											</span>
											<a class="cart_block_product_name" title="Example product" href="#">Example product</a>
										</div>
										<div class="product-atributes">
											<a title="Example product" href="#">Black, S</a>
										</div>
										<span class="price">554,90 zł</span>
										<span class="remove_link">
											<a href="#" class="ajax_cart_block_remove_link" rel="nofollow"></a>
										</span>
									</div>
								</dt>
								<dd></dd>
							</dl>
							<p class="cart_block_no_products" style="display: none;"> No products</p>
							<div class="cart-prices">
								<div class="cart-prices-line first-line"> 
									<span>Shipping:</span>
									<span class="price">23,54 zł</span> 
								</div>
								<div class="cart-prices-line last-line"> 
									<span>Total:</span>
									<span class="price">578,44 zł</span> 
								</div>
							</div>
							<p class="clearBoth cart-buttons"> 
								<a rel="nofollow" title="Check out" href="shopping-cart.html" class="button" id="button_order_cart"> 
									Check out
								</a>
							</p>
						</div>
					</div>
				</div><!-- .cart_block -->
			</div>

			<div class="ph_megamenu_mobile_toggle">
				<a class="show_megamenu" href="#"><i class="icon icon-bars"></i>Show menu</a> 
				<a class="hide_megamenu" href="#"><i class="icon icon-times"></i>Hide menu</a>
			</div>
			<div id="ph_megamenu_wrapper">
			<nav role="navigation">
				<ul class="ph_megamenu" id="ph_megamenu">
					<li><a title="Home" href="index-main.html"><i class="icon icon-home"></i></a></li>
					<li class="has-submenu"><a href="#">Products</a>
						<div class="mega-menu clear clearfix">
							<div>
								<div class="ph-type-6 ">
									<h3>Our best products</h3>
									<div class="product_list_ph">
										<div class="ph_product_item ph-col ph-col-3">
											<div class="inner">
												<div class="ph_product_image"> 
													<div class="img_hover"></div>
													<img title="Gray T-shirt" alt="Gray T-shirt" src="images/products/big.jpg" class="replace-2x img-responsive">
												</div><!-- .ph_product_image -->
												<div class="ph_product_info">
													<p class="ph_product_name"> 
														<a title="Gray T-shirt" href="#"> Gray T-shirt </a>
													</p>
													<div class="ph_product_price"> 
														<span class="price product-price"> $32.20 </span>
													</div>
												</div><!-- .ph_product_info -->
											</div>
										</div><!-- .ph_product_item -->

										<div class="ph_product_item ph-col ph-col-3">
											<div class="inner">
												<div class="ph_product_image"> 
													<div class="img_hover"></div>
													<img title="Gray T-shirt" alt="Gray T-shirt" src="images/products/big.jpg" class="replace-2x img-responsive">
												</div><!-- .ph_product_image -->
												<div class="ph_product_info">
													<p class="ph_product_name"> 
														<a title="Gray T-shirt" href="#"> Gray T-shirt </a>
													</p>
													<div class="ph_product_price"> 
														<span class="price product-price"> $32.20 </span>
													</div>
												</div><!-- .ph_product_info -->
											</div>
										</div><!-- .ph_product_item -->
										
									</div><!-- .product_list_ph -->
								</div>
							</div>
						</div>	
					</li>
					<li class="has-submenu"> <a title="PrestaHome" href="http://www.prestahome.com/"> <span class="">PrestaHome</span></a>
						<ul class="dropdown">
							<li class="with-icon"> <a href="#"> <i class="icon icon-facebook"></i> Facebook </a></li>
							<li class="with-icon"> <a href="#"> <i class="icon icon-twitter"></i> Twitter </a></li>
							<li class="with-icon"> <a href="#"> <i class="icon icon-heart"></i> Prestahome </a></li>
						</ul>
					</li>
					<li class="has-submenu"> <a title="Customer Support" href="#"> <span>Support</span></a>
						<div class="mega-menu clear clearfix">
							<div>
								<div class="ph-type-5 ph-col ph-col-3">
									<p><img alt="image" src="images/products/mega.jpg"></p>
									<h3>Our team can help</h3>
								</div>
								<div class="ph-type-5 ph-col ph-col-4">
									<p>Fusce pretium dui sem, a finibus arcu finibus et. Sed eu arcu vel tortor varius cursus in at sapien. In accumsan suscipit metus non egestas. Aenean et nibh dui. Nunc gravida et sem in vulputate. Nullam at urna sit amet felis ornare varius. Curabitur massa nunc, ultricies vitae dapibus ac, sodales laoreet ante. Aenean vestibulum massa magna, a gravida neque euismod nec.</p>
								</div>
								<div class="ph-type-4 ph-col ph-col-3">
									<div class="col-md-12">
										<h3 class="ph-mega-categories-cat-title"> <a title="Women" href="#"> Women</a></h3>
										<ul class="ph-mega-categories-list-lvl-1">
											<li><a title="Tops" href="#"> Tops </a></li>
											<li><a title="Dresses" href="#"> Dresses </a></li>
											<li><a title="T-shirts" href="#"> T-shirts </a></li>
											<li><a title="Skirts" href="#"> Skirts </a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="has-submenu"> 
						<a title="Extra menu" href="#"> 
						<span class="">Extra menu</span>
						<span style="color:#ededed;background:#ededed;" class="label"> 
							<span style="color: #333333;">Must see</span> 
						</span>
						</a>
						<div class="mega-menu clear clearfix">
							<div class="">
								<div class="ph-type-5 ph-col ph-col-3">
									<h3> Test banner in menu</h3>
									<p><img alt="image" src="images/products/mega.jpg"></p>
								</div>
								<div class="ph-type-5 ph-col ph-col-3">
									<h3> About our technology</h3>
									<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id nulla sed dui vehicula tempor eget non mauris.</p>
									<p>Nullam vel gravida quam. In id pretium metus. Maecenas mollis, nunc sit amet aliquam pulvinar, enim tellus convallis risus, sit amet feugiat purus mauris id mauris. Morbi ac libero sit amet lectus lacinia mattis at ut turpis. Nunc tristique nisl dignissim tellus pretium, nec sagittis justo sodales.</p>
								</div>
								<div class="ph-type-5 ph-col ph-col-3">
									<h3> You may like also...</h3>
									<p><img alt="image" src="images/products/mega.jpg"></p>
								</div>
							</div>
						</div>
					</li>
					<li class="has-submenu"> <a title="Categories" href="category.html"> <span class="">Categories</span></a>
						<ul class="ph-dropdown-categories dropdown">
							<li> <a href="#">Women</a>
								<ul class="dropdown">
									<li><a href="#"> Tops </a></li>
									<li><a href="#"> Dresses </a></li>
									<li><a href="#"> T-shirts </a></li>
									<li><a href="#"> Skirts </a></li>
								</ul>
							</li>
							<li><a href="#"> Men</a>
								<ul class="dropdown">
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Coats &amp; Example products</a></li>
									<li><a href="#">Hoodies &amp; Sweatshirts</a></li>
									<li><a href="#">Jeans</a></li>
									<li><a href="#">T-shirts</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a title="Text page" href="text.html"><span>Text page</span></a></li>
					<li><a href="#">Subpages</a>
						<ul class="dropdown">
							<li><a href="404.html">404</a></li>
							<li><a href="blog-grid.html">Blog - grid view</a></li>
							<li><a href="blog-list.html">Blog - list view</a></li>
							<li><a href="blog-single.html">Blog - single</a></li>
							<li><a href="category.html">Category</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="elements.html">Elements</a></li>
							<li><a href="form.html">Form</a></li>
							<li><a href="index-boxed.html">Home - boxed version</a></li>
							<li><a href="index-full.html">Home - one column</a></li>
							<li><a href="index-right.html">Home - right column</a></li>
							<li><a href="index-sticky.html">Home with sticky header</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li><a href="product.html">Product cart</a></li>
							<li><a href="shopping-cart.html">Shopping Cart</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="text.html">Text page</a></li>
						</ul>
					</li>
					<li class="with-icon"><a title="Contact" href="contact.html"> <i class="icon icon-envelope"></i> <span class="">Contact</span></a></li>
				</ul> 
			</nav>
			</div>
		</div><!-- .container -->
	</header>

	<div class="container content">
		<div class="columns row">	
			<div class="col-xs-12">
				<div class="breadcrumb">
					<a class="home" title="Return to Home" href="#">Home</a>
					<span class="navigation-pipe">&raquo;</span>
					<span class="navigation_page">
					<span itemscope itemtype="http://schema.org/BreadcrumbList">
						<a title="Woman" href="#" itemprop="item">
							<span itemprop="name">Woman</span>
						</a>
					</span>
					<span class="navigation-pipe">&raquo;</span>
						Jeans
					</span>
				</div><!-- .breadcrumb -->
			</div>
			<div class="center_column col-md-9 col-sm-8 col-xs-12 col-md-push-3 col-sm-push-4">
				<div class="background">
					<div class="content_scene_cat">
						<div class="content_scene_cat_bg">
							<div class="cat_desc">
								<h2 class="main-color">Women</h2>
								<div class="txt col-md-7 col-sm-11 col-xs-12">
									<p>Quisque at elit pretium, mattis purus in, porttitor neque. Nam eget sagittis urna. Maecenas sed fringilla nibh, quis lacinia. Nullam ac at nibh euismod 	tristique et ac tellus. Vivamus urna nulla, dignissim id nulla sit amet, volutpat.</p>
								</div>
							</div><!-- .cat_desc -->
						</div><!-- .content_scene_cat_bg -->
					</div><!-- .content_scene_cat -->

					<div id="subcategories">
						<h4 class="main-color-txt">Subcategories</h4>
						<ul class="nolist">
							<li class="col-md-3 col-sm-6 col-xs-6">
			                	<div class="subcategory-image">
									<a class="img" title="Tops" href="#">
										<img alt="" src="images/products/subcategory.jpg" class="img-responsive" />
									</a>
			                   	</div>
			                   	<div class="subcategory-name">
									<h5 class="main-color"><a href="#">Tops</a></h5>	
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6">
			                	<div class="subcategory-image">
									<a class="img" title="Bags" href="#">
										<img alt="" src="images/products/subcategory.jpg" class="img-responsive" />
									</a>
			                   	</div>
			                   	<div class="subcategory-name">
									<h5 class="main-color"><a href="#">Bags</a></h5>	
								</div>			
							</li>
						</ul>
					</div><!-- #subcategories -->

					<div class="content_sortPagiBar clearBoth">
						<div class="sortPagiBar">
							<div class="col-md-2 col-sm-3 col-xs-12 list-style-buttons">
								<div class="row">
									<a id="gridview" class="switcher active" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Grid">
										<i class="icon icon-th"></i>
									</a>
									<a id="listview" class="switcher" title="" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="List">
										<i class="icon icon-th-list"></i>
									</a>
								</div>
							</div><!-- .list-style-buttons -->

							<form class="col-md-offset-2 col-md-4 col-sm-7 col-xs-12 productsSortForm" action="#">
								<label for="selectProductSort">Sort by</label> 
								<select class="selectProductSort" id="selectProductSort">
									<option selected="selected" value="position:asc">Choose...</option>
									<option value="price:asc">Price: Lowest first</option>
									<option value="price:desc">Price: Highest first</option>
									<option value="name:asc">Product Name: A to Z</option>
									<option value="name:desc">Product Name: Z to A</option>
									<option value="quantity:desc">In stock</option>
									<option value="reference:asc">Reference: Lowest first</option>
									<option value="reference:desc">Reference: Highest first</option> 
								</select>
							</form>

							<form class="compare-form pull-right" action="#" method="post">
								<button type="submit" class="button btn-primary">Compare <span>2</span></button>
							</form>
						</div><!-- .sortPagiBar -->	
					</div><!-- .content_sortPagiBar -->

					<div class="row">
						<div class="product_list_ph clearBoth">
							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/big.jpg" alt="" class="img-responsive first-image" />
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">sweet skirt</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price" itemprop="price">$5 420, 32</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">example product</a></h3>
										<div class="price">
											<span class="price">$5 420, 32</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->

							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/product1.jpg" alt="" class="img-responsive first-image" />
										<span class="labels sale">sale</span>
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">sweet skirt</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price new-price" itemprop="price">$111, 22</span>
												<span class="old-price">$133, 22</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">sweet skirt</a></h3>
										<div class="price">
											<span class="price">$111, 22</span>
											<span class="old-price">$133, 22</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->

							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/product2.jpg" alt="" class="img-responsive first-image" />
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">sweet product</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price" itemprop="price">$199, 00</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">sweet product</a></h3>
										<div class="price">
											<span class="price">$199, 00</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->

							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/product4.jpg" alt="" class="img-responsive first-image" />
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">lorem ipsum dolor</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price" itemprop="price">$212, 11</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating" class="comments_note">
											<div class="star_content clearfix">
												<div class="star star_on"></div>
												<div class="star star_on"></div>
												<div class="star star_on"></div>
												<div class="star star_on"></div>
												<div class="star"></div>

												<meta content="0" itemprop="worstRating"><meta content="2" itemprop="ratingValue">
												<meta content="5" itemprop="bestRating">
											</div> 
											<span class="nb-comments">5 Review(s)</span>
										</div>

										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">lorem ipsum dolor</a></h3>
										<div class="price">
											<span class="price">$212, 11</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->

							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/product5.jpg" alt="" class="img-responsive first-image" />
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">sweet product</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price" itemprop="price">$300, 00</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">sweet product</a></h3>
										<div class="price">
											<span class="price">$300, 00</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->

							<div class="col-md-4 col-sm-6 col-xs-12 product" itemtype="http://schema.org/Product" itemscope="">
								<div class="bg">
									<div class="inner">
										<div class="img_hover"></div>
										<img itemprop="image" src="images/products/product3.jpg" alt="" class="img-responsive first-image" />
										<div class="icons">
											<a href="#" class="add_to_cart main-color" title="Add to cart"><i class="icon icon-shopping-cart"></i></a>
											<a href="#" class="main-color" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="main-color" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<div class="info">
											<h3 itemprop="name"><a itemprop="url" href="product.html" title="see produt">sweet product</a></h3>
											<div class="price" itemtype="http://schema.org/Offer" itemscope="" itemprop="offers">
												<span class="price" itemprop="price">$399, 00</span>
												<meta content="USD" itemprop="priceCurrency">
											</div>
										</div>
									</div><!-- .inner -->
									<div class="list_info">
										<div class="btn-container">
											<a href="#" class="button-mini" title="Add to wishlist"><i class="icon icon-heart"></i></a>
											<a href="#" class="button-mini" title="Add to compare"><i class="icon icon-bar-chart"></i></a>
										</div>
										<h3><a href="product.html" title="see produt">sweet product</a></h3>
										<div class="price">
											<span class="price">$399, 00</span>
										</div>
										<p>Duis euismod eros nec lorem sodales, a suscipit magna vehicula. Integer interdum libero sodales tempus adipiscing. Pellentesque eget diam orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam erat massa, sed varius lorem tincidunt sed.</p>
										<a href="#" class="button btn-primary">Add to cart</a>
									</div><!-- .list_info -->
								</div><!-- .bg -->
							</div><!-- .product -->
								
						</div><!-- .product_list_ph -->	
					</div><!-- .row -->

					<div class="pagination">
						<ul class="nolist pagination">
							<li class="disabled col-md-2 col-sm-4 col-xs-6 text-left pagination_previous" id="pagination_previous_bottom">
								<span>
									&#8592; Previous
								</span>
							</li>

							<li class="active current"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li class="truncate"><span>...</span></li>
							<li><a href="#">8</a></li>
							<li class="col-md-3 col-sm-4 col-xs-6 col-md-push-9 text-right pagination_next" id="pagination_next_bottom">
								<a href="http://localhost/pluto-prestashop/pl/3-women#/page-2">
									Next &#8594;
								</a>
							</li>
						</ul>
					</div><!-- .pagination -->
				</div><!-- .background -->
			</div><!--. center_column -->

			<aside class="sidebar col-md-3 col-sm-4 col-xs-12 col-md-pull-9 col-sm-pull-8">
				<div id="categories_block_left" class="block category">
					<div class="heading_block">
						<h4>
							<i class="icon icon-bars"></i>
							Categories
						</h4>
					</div><!-- .heading_block -->

					<div class="block_content">
						<ul>
							<li><a href="category.html">WOMAN</a> 
								<i class="icon icon-plus-circle plus"></i>
								<i class="icon icon-minus-circle minus"></i>
								<ul>
									<li><a href="category.html">blouses</a></li>
									<li><a href="category.html">tops</a></li>
									<li><a href="category.html">skirts</a>
										<i class="icon icon-plus plus"></i>
										<i class="icon icon-minus minus"></i>
										<ul>
											<li>
											<a href="category.html">mini</a></li>
											<li><a href="category.html">midi</a></li>
											<li><a href="category.html">maxi</a></li>
										</ul>
									</li>
									<li><a href="category.html">trousers</a></li>
								</ul>
							</li>
							<li><a href="category.html">MAN</a></li>
							<li><a href="category.html">KIDS</a></li>
							<li><a href="category.html">PREGNANT</a></li>
							<li><a href="category.html">TOP 10</a></li>
							<li><a href="category.html">BESTSELLERS</a></li>
							<li><a href="category.html">NEWEST COLLECTION</a></li>
							<li><a href="category.html">OLD</a></li>
							<li><a href="category.html">FEATURES</a></li>
							<li><a href="category.html">SALE</a></li>
						</ul>
					</div><!-- .block_content -->
				</div><!-- .block -->
			
				<div id="layered_block_left" class="block">
					<div class="heading_block">
						<h4>
							<i class="icon icon-book"></i>
							Catalog
						</h4>
					</div><!-- .heading_block -->

					<div class="block_content">
						<form id="layered_form" action="#">	
							<div>
								<div id="enabled_filters">
									<span class="layered_subtitle">
										Enabled filters
									</span>
									<ul>																																						<li>
											<a title="Cancel" data-rel="layered_category_4" href="#"><i class="icon icon-remove"></i></a>Categories: <span>Tops</span>
										</li>			
										<li>
											<a title="Cancel" data-rel="layered_id_attribute_group_1" href="#"><i class="icon icon-remove"></i></a>Size: <span>S</span>
										</li>
									</ul>
								</div><!-- #enabled_filters -->

								<div class="layered_filter">
						            <div class="layered_subtitle_heading">
                            			<span class="layered_subtitle">Size</span>
									</div>
									<ul class="layered_filter_ul">
										<li class="nomargin hiddable col-lg-12">
											<div class="checker">
												<span><input type="checkbox" value="1_1" id="layered_id_attribute_group_1" name="layered_id_attribute_group_1" class="checkbox"></span>
											</div> 
											<label for="layered_id_attribute_group_1">
												<a href="#">S<span>7</span></a>
											</label>
										</li>

										<li class="nomargin hiddable col-lg-12">
											<div class="checker">
												<span><input type="checkbox" value="2_1" id="layered_id_attribute_group_2" name="layered_id_attribute_group_2" class="checkbox"></span>
											</div> 
											<label for="layered_id_attribute_group_2">
												<a href="#">M<span>7</span></a>
											</label>
										</li>

										<li class="nomargin hiddable col-lg-12">
											<div class="checker">
												<span><input type="checkbox" value="3_1" id="layered_id_attribute_group_3" name="layered_id_attribute_group_3" class="checkbox"></span>
											</div> 
											<label for="layered_id_attribute_group_3">
												<a href="#">L<span>7</span></a>
											</label>
										</li>
									</ul>
								</div><!-- .layered_filter -->

								<div class="layered_filter">
						            <div class="layered_subtitle_heading">
                            			<span class="layered_subtitle">Colors</span>
									</div>
									<ul class="layered_filter_ul">
										<li class="nomargin hiddable col-lg-12">
											<input type="button" value="color" style="background: #F39C11;" id="layered_id_attribute_group_11" name="layered_id_attribute_group_11" class="color-option on"/>																					
											<label class="layered_color" for="layered_id_attribute_group_11">
												<a href="#">Orange<span> 3</span></a>
											</label>
										</li>
										<li class="nomargin hiddable col-lg-12">
											<input type="button" value="color" style="background: #459f4d;" id="layered_id_attribute_group_12" name="layered_id_attribute_group_12" class="color-option on"/>																					
											<label class="layered_color" for="layered_id_attribute_group_12">
												<a href="#">Green<span> 5</span></a>
											</label>
										</li>
										<li class="nomargin hiddable col-lg-12">
											<input type="button" value="color" style="background: #519ad7;" id="layered_id_attribute_group_13" name="layered_id_attribute_group_13" class="color-option on"/>																					
											<label class="layered_color" for="layered_id_attribute_group_13">
												<a href="#">Blue<span> 1</span></a>
											</label>
										</li>
									</ul>
								</div><!-- .layered_filter -->

								<div class="layered_price">
									<div class="layered_subtitle_heading">
                            			<span class="layered_subtitle">Filter by price</span>
									</div>
									<div id="slider-range"></div>
									<label for="layered_price_range">Price:</label>
									<input type="text" id="layered_price_range" readonly/>
								</div><!-- .layered-price -->
							</div>
						</form>
					</div><!-- .block_content -->
				</div><!-- .block -->

				<div class="block">
					<div class="heading_block">
						<h4>
							<i class="icon icon-plus-circle"></i>
							New products
						</h4>
					</div><!-- .heading_block -->

					<div class="block_content">
						<ul class="products nolist">
							<li>
								<div class="col-xs-4">
									<div class="row">
										<a class="products-block-image" title="Product name" href="#">
											<img src="images/products/big.jpg" alt="product name" class="img-responsive" />
										</a>
									</div>
								</div>
								<div class="product-content col-xs-8">
									<h5><a href="#" title="Product name">Product name goes...</a></h5>
									<div class="price-box">
										<span class="price"> 218,60 zł </span>
									</div>
									<p>Etiam at auctor magna, fringilla justo. Nullam...</p>
								</div><!-- .product-content -->
							</li>

							<li>
								<div class="col-xs-4">
									<div class="row">
										<a class="products-block-image" title="Product name" href="#">
											<img src="images/products/big.jpg" alt="product name" class="img-responsive" />
										</a>
									</div>
								</div>
								<div class="product-content col-xs-8">
									<h5><a href="#" title="Product name">Product name goes...</a></h5>
									<div class="price-box">
										<span class="price"> 218,60 zł </span>
									</div>
									<p>Etiam at auctor magna, fringilla justo. Nullam...</p>
								</div><!-- .product-content -->
							</li>

							<li>
								<div class="col-xs-4">
									<div class="row">
										<a class="products-block-image" title="Product name" href="#">
											<img src="images/products/big.jpg" alt="product name" class="img-responsive" />
										</a>
									</div>
								</div>
								<div class="product-content col-xs-8">
									<h5><a href="#" title="Product name">Product name goes...</a></h5>
									<div class="price-box">
										<span class="price"> 218,60 zł </span>
									</div>
									<p>Etiam at auctor magna, fringilla justo. Nullam...</p>
								</div><!-- .product-content -->
							</li>
						</ul>
						<a href="#" class="button btn-primary button-small">All new products</a>
					</div><!-- .block_content -->
				</div><!-- .block -->

				<div class="block block_tags">
					<div class="heading_block">
						<h4>
							<i class="icon icon-tags"></i>
							Popular tags
						</h4>
					</div><!-- .heading_block -->

					<div class="block_content">
						<a class="tag_level3 first_item" title="More about women" href="#">women</a>
						<a class="tag_level2 item" title="More about cotton" href="#">cotton</a>
						<a class="tag_level1 item" title="More about newest" href="#">newest</a>
						<a class="tag_level2 item" title="More about discount" href="#">discount</a>
						<a class="tag_level1 item" title="More about pink" href="#">pink</a>
						<a class="tag_level3 item" title="More about tops" href="#">tops</a>
						<a class="tag_level1 item" title="More about dress" href="#">dress</a>
						<a class="tag_level1 item" title="More about knitwear" href="#">knitwear</a>
						<a class="tag_level2 item" title="More about beige" href="#">beige</a>
						<a class="tag_level1 last_item" title="More about shorts" href="#">shorts</a>
					</div><!-- .block_content -->
				</div><!-- .block -->

			</aside><!-- .sidebar -->
		</div><!-- .columns -->

		<div class="manufacturers carousel-style">
			<div class="heading_block margin-bottom">
				<h4 class="pull-left">
					<i class="icon icon-plus-circle main-color"></i>
					<strong>our</strong> manufacturers
				</h4>
				<div class="arrow_container pull-right">
					<a href="#" class="arrow-ph arrow-prev" title="Previous slide"><i class="icon icon-angle-left"></i></a>
					<a href="#" class="arrow-ph arrow-next" title="Next slide"><i class="icon icon-angle-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="product_list_ph owl-carousel-ph clearBoth" data-max-items="6">
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-12 item">
						<a href="#" title="view manufacturer"><img src="images/products/company.jpg" alt="" class="img-repsonsive" /></a>
					</div>
				</div>
			</div>
		</div><!-- .manufacturers -->
	</div><!-- .container -->

	<div class="prefooter">
		<div class="container">
			<form id="newsletterRegistrationForm" class="col-md-7 col-sm-12 col-xs-12" action="#" method="post">
				<h5>NEWSLETTER</h5>
				<input id="newsletter_registration_email" class="account_input" type="email" name="email" placeholder="Your e-mail address" />
				<input class="button button-small btn-primary" type="submit" value="Save" />
			</form>
			<div class="col-md-5 col-sm-12 col-xs-12 social-icons">
				<div class="row">
					<div class="item dribbble">
						<a href="#"><i class="icon icon-dribbble"></i></a>
					</div>

					<div class="item facebook">
						<a href="#"><i class="icon icon-facebook"></i></a>
					</div>

					<div class="item twitter">
						<a href="#"><i class="icon icon-twitter"></i></a>
					</div>

					<div class="item google-plus">
						<a href="#"><i class="icon icon-google-plus"></i></a>
					</div>

					<div class="item behance">
						<a href="#"><i class="icon icon-behance"></i></a>
					</div>
				</div><!--. row -->
			</div><!-- .social-icons -->
		</div><!-- .container -->	

		<div class="prefooter-blocks">
			<div class="container">	
				<div class="row clearBoth">
					<div class="block_footer col-md-3 col-sm-6 col-xs-12">
						<h4>fast menu</h4>
						<ul>
							<li><a href="#">faq</a></li>
							<li><a href="#">terms and conditions</a></li>
							<li><a href="#">sitemap</a></li>
							<li><a href="#">store informations</a></li>
							<li><a href="#">contacts</a></li>
							<li><a href="#">store informations</a></li>
							<li><a href="#">contacts</a></li>
						</ul>
					</div><!-- .block_footer -->

					<div class="block_footer col-md-3 col-sm-6 col-xs-12">
						<h4>categories</h4>
						<ul>
							<li><a href="#">man</a></li>
							<li><a href="#">woman</a></li>
							<li><a href="#">pregnat</a></li>
							<li><a href="#">kids</a></li>
							<li><a href="#">contacts</a></li>
							<li><a href="#">top10</a></li>
							<li><a href="#">woman</a></li>
						</ul>
					</div><!-- .block_footer -->

					<div class="block_footer col-md-3 col-sm-6 col-xs-12">
						<h4>terms and conditions</h4>
						<ul>
							<li><a href="#">exchange</a></li>
							<li><a href="#">important informations</a></li>
							<li><a href="#">shipping</a></li>
							<li><a href="#">payment</a></li>
						</ul>
					</div><!-- .block_footer -->

					<div class="block_footer block_contact col-md-3 col-sm-6 col-xs-12" itemtype="http://schema.org/Organization" itemscope="">
						<h4 class="dark">contact with us</h4>
						<div class="item">
							<i class="pull-left icon icon-map-marker"></i>
							<p>
								<span itemprop="name">Madrid Store</span>
								<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
									<span itemprop="streetAddress">Street 765/5,</span>
									<span itemprop="postalCode">55-555</span>
									<span itemprop="addressLocality">Madrid</span>
								</span>
							</p>
						</div><!-- .item -->

						<div class="item even">
							<i class="pull-left icon icon-phone"></i>
							<p>
								<span itemprop="telephone">+48.564342145</span>
								<span>+48.564342146</span>
							</p>
						</div><!-- .item -->

						<div class="item last-item mail">
							<i class="pull-left icon icon-envelope"></i>
							<p>
								<a href="#" itemprop="email">madrid@madrid.store.com</a>
							</p>
						</div><!-- .item -->

					</div><!-- .block_footer -->

				</div><!--. row -->
			</div><!-- .container -->
		</div><!-- .prefooter-blocks -->
	</div><!-- .prefooter -->

	<footer class="bottom">
		<div class="container">
			<p class="pull-left">All rights reserved. <strong>MADRID TEMPLATE 2014</strong></p>
			<a href="#" class="main-color-txt pull-right totop"><i class="icon icon-chevron-up"></i></a>
		</div><!-- .container -->
	</footer>

	<script src="js/libraries/jquery.js"></script>
	<script src="js/libraries/jquery-ui.min.js"></script>
	<script src="js/libraries/jquery-migrate.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/plugins/unslider.min.js"></script>
	<script src="js/plugins/owl.carousel.min.js"></script>
	<script src="js/plugins/jquery.hoverIntent.js"></script>
	<script src="js/plugins/ph_megamenu.js"></script>
	<script src="js/plugins/height.js"></script>
	<script src="js/plugins/detectmobilebrowser.js"></script>
	<script src="js/plugins/jquery.appear.js"></script>
	<script src="js/plugins/jquery.cookie.js"></script>

	<script src="js/main.js"></script>
</body>
</html>